---
import { Icon } from 'astro-icon/components'

interface Props {
  /**
   * The quote content that will be displayed
   */
  children: any
  /**
   * The name of the person who said the quote
   */
  author?: string
  /**
   * URL to the author's avatar image
   */
  avatar?: string
  /**
   * Link to the author's website or profile
   */
  link?: string
}

const { author, avatar, link } = Astro.props
---

<blockquote class="border-primary-500 border-l-4 pl-4">
  <div>
    <Icon aria-hidden="true" name="lucide:quote" size="2rem" />
    <slot />
    <Icon aria-hidden="true" name="lucide:quote" size="2rem" />
  </div>
  {author && (
    <div class="author-section">
      {avatar && <img src={avatar} alt={author} class="author-avatar" />}
      <cite class="block text-sm font-medium">
        {link ? (
          <a href={link} target="_blank" rel="noopener noreferrer" class="author-link">
            {author}
          </a>
        ) : (
          author
        )}
      </cite>
    </div>
  )}
</blockquote>

<style lang="scss" is:global>
  blockquote {
    font-size: var(--font-size-2);

    p {
      display: inline;
    }

    svg {
      display: inline;
      margin-block-start: calc(var(--space-s) * -1);

      &:first-child {
        scale: -1 1;
      }
    }

    .author-section {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
      margin-block-start: var(--space-s);
    }

    .author-avatar {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
    }

    cite {
      font-size: var(--font-size-1);
    }

    .author-link {
      color: inherit;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>