---
/**
 * CardWrapper Component
 *
 * @description A wrapper that applies consistent styling to Card components
 */
---

<div class="card-wrapper">
  <slot />
</div>

<style lang="scss">
  .card-wrapper {
    position: relative;
    transition: transform 0.3s ease;
    inline-size: 100%;

    > :global(.card) {
      position: relative;
      z-index: 2;
      box-shadow: 0.5rem 0.5rem 0 0 var(--brand-folk-blue);
      border: 2px solid var(--brand-charcoal) !important;
      border-radius: var(--radius-l);
      background-color: white !important;
      padding: 1rem !important;
    }

    > :global(.card:hover),
    > :global(.card:focus),
    > :global(.card:focus-within) {
      outline: none !important;
    }

    > :global(.card img) {
      transform: none !important;
      transition: none !important;
      border-radius: var(--radius-m);
    }

    &:hover {
      transform: translateY(-8px);
    }

    &:hover > :global(.card) {
      border-color: var(--brand-folk-blue) !important;
    }
  }

  :global(.darkmode) .card-wrapper > :global(.card) {
    box-shadow: 0.5rem 0.5rem 0 0 var(--brand-sky-blue);
    border-color: var(--brand-sky-blue) !important;
    background-color: var(--color-neutral-900) !important;
  }

  :global(.darkmode) .card-wrapper > :global(.card img) {
    border-color: var(--color-neutral-700);
  }

  .card-wrapper :global(.card a) {
    font-weight: bold;
  }

  .card-wrapper :global(.card h2),
  .card-wrapper :global(.card h3) {
    color: var(--brand-charcoal);
  }

  :global(.darkmode) .card-wrapper :global(.card h2),
  :global(.darkmode) .card-wrapper :global(.card h3) {
    color: var(--brand-space-silver);
  }

  .card-wrapper :global(.card a) {
    color: light-dark(var(--color-neutral-900), var(--color-neutral-100)) !important;
    text-decoration: none;
  }

  .card-wrapper :global(.card a:hover) {
    text-decoration: underline;
    text-decoration-color: light-dark(var(--color-neutral-900), var(--color-neutral-100)) !important;
    text-underline-offset: 6px !important;
  }

  :global(.darkmode) .card-wrapper :global(.card a) {
    color: var(--brand-sky-blue);
    text-decoration: none;
  }

  :global(.darkmode) .card-wrapper :global(.card a:hover) {
    text-decoration: underline;
    text-decoration-color: var(--brand-sky-blue);
  }

  .card-wrapper :global(.card p) {
    color: var(--brand-charcoal);
  }

  :global(.darkmode) .card-wrapper :global(.card p) {
    color: var(--brand-space-silver);
  }
</style>
