---
import CallToAction from './CallToAction.astro'
import Logo from './Logo.astro'
import { Heading, Link } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container flex md:flex-row align-center gap-16 md:justify-between">
      <Logo />
      <p>
        &copy; {currentYear} Ben Ventures LLC – A New York Company.
      </p>
    </div>
  </section>
</footer>

<style>
  footer {
    margin-top: auto;
  }

  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>